@model HomeIndexViewModel
@{
    ViewBag.PageTitle = "Family Album";
}
<div class="card-deck">
    @foreach (var e in Model.Photo)
    {
         var photoPath =  (e.AZ_Photo_Uri??"brand.png");
        <div class="card m-3" style="min-width:18rem; max-width:30.5%">
            <div class="card-header">
                <h3>@e.Story</h3>
            </div>
            <img class="card-img-top imageThumnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a class="btn btn-primary m-1" asp-controller="Home" asp-action="Details" asp-route-id="@e.Id">View</a>
                <a class="btn btn-primary  m-1" href="#">Edit</a>
                <a class="btn btn-danger  m-1" href="#">Delete</a>
            </div>
        </div>

    }
</div>
